<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Welcome to Glitch!</title>

    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    

    <!-- import the webpage's client-side javascript file--> 
    <script src="/script.js" defer></script> 
  </head>
  <body>
    
    
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.dom.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/addons/p5.sound.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src ="https://cdnjs.cloudflare.com/ajax/libs/qs/6.5.1/qs.min.js"></script>
    <script src="path/to/p5.sound.js"></script>
    
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
    
    <div id = "content"  style="">
      
      <h1 id="top-text">Waiting for more players to connect</h1>
      
      <div id = "middle-row"  style="display:flex;">
        
        <div id="player-box" >
        
          <h3 class="message" style="background-color:lightblue; color:rgb(72,72,72);">Players:</h3>
          <div class="message small-message">
          
            <p class ="meta"> Mary</p>
          
          </div>  
        
        </div>
        
        <div>
          <div id = "sketch-div" >
      
          </div>
          
          <div id = "color-pickers" style="display:flex;justify-content:center; margin-top:20px; align-items:center;">
          
            
            <div class="color-picker">
              
              <label>Background</label>
              <div id = "background-color-picker" class = "meta"></div>
            </div>
            
            <div class="color-picker">
              <label>Paintbrush</label>
              <div id = "paintbrush-color-picker" class = "meta"></div>
            </div>
            </div>
        
        </div>
        
        <div id="communication-box">
          
          <div id = "chat" style="background-color:white; width:354px; height:325px; margin-left:20px;">
            
            <div class="message">
						  <p class="meta">Draw my Thing <span>9:15pm</span></p>
						  <p class="text">
                  Send your guesses here!
						  </p>
					  </div>
            
          </div>
          
            <form id="guessForm" style="margin-left:20px;">
              <input id="msg">
            </form>
        </div>
      </div>
      
      
    
    </div>
    
  </body>
</html>
