/* this file is loaded by index.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  background-color:rgba(41, 49, 79.1);
  font-family: sans-serif;
  display:flex;
  justify-content: center;
  align-items:center;
  align-content:center;
}

h1 {
  font-style: italic;
  max-width: calc(100% - 5rem);
  line-height: 49px;
  padding: 5px;
}

form {
  background-color: lightblue;
  display: grid;
  grid-gap: 1em;
  padding: 1em;
  max-width: 40ch;
}

input {
  border: 1px solid silver;
  display: block;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

form button {
  background-color: #bbbbf2;
  border: 2px solid currentColor;
  border-radius: .25em;
  cursor: pointer;
  font-size: inherit;
  line-height: 1.4em;
  padding: 0.25em 1em;
  max-width: 20ch;
}

form button:hover {
  background-color: lavender;
}

footer {
  margin-top: 3em;
  padding-top: 1.5em;
  border-top: 1px solid lightgrey;
}


#guessForm{
  width: 400px;
  height:50px;
  
  display:flex;
  align-items: center;
  justify-content: center;
}

#sketch-div{
  width:400px;
  height:400px;
  background-color: blue;
}

#content{
  
  width:570px;
  height: 700px;
  
  display: flex;
  flex-wrap: wrap;
  
  justify-content:center;
  align-content: space-around;
}

h2  {
  color:white;
  text-align: center;
  text-shadow: 1px 1px 10px blue;
}

h1{
  
  color:white;
  text-align: center;
  text-shadow: 1px 1px 10px blue;
}



.#p{
margin-top:9px;
}
#people{

background-color: #f1c40f;
width:250px;
height:440px;
margin-left:767px;
margin-top:-462px;
border: 6px solid white;



}
#pr{
font-size:12px;
margin-top:-34px;
margin-left: 82px;
}
#chatroom{
background-color:#e74c3c;
font-family: verdana;
color:white;
font-size: 30px;
text-align:center;
border: 2px solid white;
border-radius:15px;
width:190px;
height:60px;

}

#btn{
background-color: white;
font-size:15px;
font-family: Verdana;
color:black;
width:56px;
height:51px;
text-align: center;
margin-left:0px;
border-radius:10px;
outline:none;
border: 2px solid #e74c3c;

}
#btn1{
background-color: white;
font-size:15px;
font-family: Verdana;
color:black;
width:100px;
height:40px;
text-align: center;
margin-left:1040px;
margin-top: -40px;
border-radius:10px;
outline:none;
border: 2px solid #e74c3c;

}
.messageInput{
  margin-left:20px;
  border-radius:10px;
  outline:none;  
  shadow:none;
  font-size:15px;
  font-family: Verdana;
  color:black;
  width:250px;
  height:50px;
}


#t {
  text-align:left;
  font-size:15px;
  font-family: Verdana;
  color:black;
  border: 2px solid #f1c40f;
  margin-top: -5px;
  margin-left: 72px;
  width:200px;
  height:90px;
  background-color:white;
  border-radius:12px;
  resize: none;
  outline: none;
}

#chat{

  border: 3px solid white;
  width:459px;
  background-color:#e74c3c;
  margin:auto;
  border-radius: 10px;
  margin-left:300px;
  overflow-y:scroll;
  
}

::-webkit-scrollbar { 
	display: none;
}
#circle{
width:50px;
height:50px;
border-radius:100px;
border: 5px solid white;
margin-left:25px;
background-color:#f1c40f;

}
#circle1{
width:50px;
height:50px;
border-radius:100px;
border: 5px solid white;
margin-left:25px;
background-color:#3498db;

}

#communication-box{
  background-color:lightblue;
  margin-left:20px;
  width:400px;
  display:flex;
  flex-direction:column;
  align-content:center;
}

#player-box{
  width:200px;
  background-color:white;
  margin-right:20px;
  border: 2px solid white;
  border-radius:10px;
}


.message{
  padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.message .meta {
	font-size: 13px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.message .meta span {
	color: #777;
  font-size:12px;
}

.message .text{
  font-size:12px;
}
